<form action="/payment/results">
<div><label for="APR">APR</label><input id="APR" name="APR"></div>
<div><label for="years">Number of years</label><input id="years" name="years"></div>
<div><label for="PV">Principal</label><input id="PV" name="PV"></div>
<button>Calculate monthly payment</button>
</form>
