<form action="/random/results">
<div><label for="min">Minimum</label><input id="min" name="min"></div>
<div><label for="max">Maximum</label><input id="max" name="max"></div>
<button>Pick random number</button>
</form>
